<div class='jumbotron center'>
  <h1>Welcome to My Recipes App!</h1>
  <h2>This is the home page.</h2>
  <%= link_to 'Sign up now!', '', class: 'btn btn-lg btn-success' %>
</div>
<div class='row'>
  <div class='col-lg-4'>
    <h3 class='midrow'>View Recipes as Guest User</h3>
    <h2 class='left'>Browse and view recipes as a Guest and Sign up later</h2>
    <%= link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small' %>
  </div>
  <div class='col-lg-4'>
    <h3 class='midrow'>View Recipes as Guest User</h3>
    <h2 class='left'>Browse and view recipes as a Guest and Sign up later</h2>
    <%= link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small' %>
  </div>
  <div class='col-lg-4'>
    <h3 class='midrow'>View Recipes as Guest User</h3>
    <h2 class='left'>Browse and view recipes as a Guest and Sign up later</h2>
    <%= link_to 'Browse Recipe Listings', '', class: 'btn btn-warning btn-small' %>
  </div>
</div>